.portrait {
  margin: 15%;
}

.shadow {
  box-shadow: 2mm 2mm 2mm 0 #AAAAAA;
}

.skill-col {
  text-align: center;
  padding: 0em;
}

.skill-icon {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  font-size: 1.5em;
  padding: 0.5em;
}

.skill-col-hover:hover > div > .skill-icon {
  background-color: skyblue !important;
  color: white !important;
}

.skill-col-hover:hover > .skill-icon {
  background-color: skyblue !important;
  color: white !important;
}

.skill-col-hover:hover > p {
  color: skyblue !important;
}

.contact-icon {
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  padding: 0.5em;
  color: white;
}

.contact-card:hover {
  text-decoration: none;
}

.contact-card:hover > .card-body {
  background-color: #EEEEFF;
}

.catbox {
  padding-top: 1em;
  padding-bottom: 1em;
}
