body {
  padding-top: 41px;
  font-family: 'Lato', sans-serif;
}

.background {
  background-color: #999999;
}

.content {
  background-color: #FFFFFF;
}

.title {
  font-size: 28px;
  display: inline;
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
}

.color-2 {
  color: #FFA500;
}

.header {
  background-color: #333333;
  min-height: 0px;
  border-bottom: 2px solid #111111;
}

.greeting {
  font-size: 50px;
  color: #FFA600;
  font-family: 'Oswald', sans-serif;
}

.nav-pills > li > a {
  border-radius: 0px;
  text-decoration: none;
  color: #DDDDDD;
}

.nav-pills > li > a:hover {
  color: #FFA500;
  background-color: #555555;
}

.nav-pills >li > a:focus {
  color: #FFA500;
  background-color: #555555;
}

.intro {
  background-color: #666666;
  background-image: url("../images/intro_bg.jpg");
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14pt;
  color: #FFFFFF;
}

.icon {
  min-width: 200px;
  min-height: 200px;
}

.company-icon {
  width: 70px;
  height: 70px;
  border: 1px solid #000000;
}

.section-header {
  background-color: #333333;
  font-size: 24pt;
  color: #FFFFFF;
  margin-bottom: 8px;
  font-family: 'Oswald', sans-serif;
}

.divider {
  border-top: 1px solid #444444;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.job-header {
  margin-bottom: 10px;
}

.employer, .school-name {
  font-size: 14pt;
  font-weight: bold;
  color: #555555;
}

.job-title, .degree {
  font-size: 12pt;
  color: #555555;
}

.employment-duration, .school-details {
  font-size: 10pt;
  color: #555555;
}

.description {
  padding-bottom: 10px;
  font-size: 12pt;
}

.icon-container {
  text-align: center;
}

.glyphicon {
  padding-right: 5px;
}
