@media (min-width: 992px) {
  .menu-btn {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 991px) {
  .intro {
    text-align: center;
  }

  .intro > div > p {
    text-align: left;
  }

  .menu-container {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .job-header {
    text-align: center;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding-top: 41px;
}

.background {
  background-color: #999999;
}

.content {
  background-color: #FFFFFF;
  width: 100%;
  max-width: 1150px;
}

.title {
  font-size: 2.0em;
  display: inline;
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
}

.color-2 {
  color: #FFA500;
}

.header {
  background-color: #333333;
  min-height: 0px;
  border-bottom: 2px solid #111111;
  font-size: 0.9em;
}

.greeting {
  font-size: 2.9em;
  color: #FFA600;
  font-family: 'Oswald', sans-serif;
}

.nav-pills > li > a, .menu-btn {
  border-radius: 0px;
  text-decoration: none;
  color: #DDDDDD;
}

.nav-pills > li > a:hover, .menu-btn {
  color: #FFA500;
  background-color: #555555;
}

.nav-pills >li > a:focus, .menu-btn {
  color: #FFA500;
  background-color: #555555;
}

.intro {
  background-color: #666666;
  background-image: url("../images/intro_bg.jpg");
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFFFFF;
  font-size: 1.2em;
}

.icon {
  min-width: 150px;
  min-height: 150px;
  width: 250px;
}

.company-icon {
  width: 70px;
  height: 70px;
  border: 1px solid #000000;
}

.section-header {
  background-color: #333333;
  font-size: 1.8em;
  color: #FFFFFF;
  margin-bottom: 8px;
  font-family: 'Oswald', sans-serif;
}

.divider {
  border-top: 1px solid #444444;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.job-header {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.employer, .school-name {
  font-weight: bold;
  color: #555555;
}

.job-title, .degree {
  font-size: 0.9em;
  color: #555555;
}

.employment-duration, .school-details {
  font-size: 0.7em;
  color: #555555;
}

.description {
  padding-bottom: 10px;
  font-size: 0.9em;
}

.icon-container {
  float: left !important;
}

.scrollLink > span {
  padding-right: 5px;
}

.menu-btn {
  font-size: 1.6em;
  padding: 5px 6px 0px 6px;
  margin: 0px 0px 0px 0px;
  float: right !important;
}

#content {
  display: none;
}

.loading-content {
  text-align: center;
}

.loading-img {
  width: 50px;
  height: 50px;
}

.loading-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0px;
  margin: auto;
  height: 60px;
}

.title:hover {
  color: #FFFFFF;
  text-decoration: none;
}
