html {
  padding: 0px;
  margin: 0px;
  color: #222222;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  animation-name: dropin;
  animation-duration: 1s;
}

h1 {
  font-size: xx-large;
}

section {
  max-width: 1000px;
  margin-top: 20px;
  padding-bottom: 20px;
}

body {
  min-height: 100;
  padding: 0px;
  margin: 0px;
}

.divider {
  max-width: 1000px;
  border-bottom: solid 2px steelblue;
  width: 100%;
}

@media(min-width: 1000px) {
  #contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media(max-width: 1000px) {
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .contact-btn {
    width: 100%;
  }
}

.contact-btn {
  color: #222222;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;

  border-radius: 2em;
  border: 5px solid;

  padding: 1em;
  margin: 0.5em;
  transition: 100ms transform;
}

.em-btn { border-color: red; }
.li-btn { border-color: blue; }
.gh-btn { border-color: black; }
.bs-btn { border-color: #E540d7; }
.md-btn { border-color: #444444; }

.contact-btn:hover {
  transform: scale(1.2);
}

#quote {
  font-size: small;
}
