#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: xx-large;
}

section {
  max-width: 1000px;
  border-bottom: 2px solid steelblue;
}

section:last-child {
  border-bottom: none;
}
