@keyframes beat {
  0% { font-weight: 100; font-size: medium; }
  80% { font-weight: 800; font-size: 0.9em; }
  85% { font-weight: 100; font-size: medium; }
  90% { font-weight: 800; font-size: 0.9em; }
}
